%a{ :href => "https://github.com/adamvduke/phillytechcalendar", :target => "_blank" }
  %img{ :style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt => "Fork me on GitHub" }
.about
  .nav 
    %a{:href => "#why"}= t.about.question_why
    %br
    %a{:href => "#add"}= t.about.question_add
    %br
    %a{:href => "#remove"}= t.about.question_remove

  %a{:name => "why"}
  %h2= t.about.question_why
  = t.about.answer_why.intro
  %ul
    %li= t.about.answer_why.bullet_1
    %li= t.about.answer_why.bullet_2

  %a{:name => "add"}
  %h2= t.about.question_add
  = t.about.answer_add

  %a{:name => "remove"}
  %h2= t.about.question_remove
  = t.about.answer_remove